// Base colors
$black: #000000;
$red: #e93e30;
$yellow: #f7e018;
$light-blue: #299ed5;
$grey: #292c33;
$green: #67c770;
$purple: #563d7c;
$background-post: #eeeeee;
$greenlighter: #74a02f;
$horizontal-post-height: 8rem;

$border-rounded: 8px;

$horizontal-space-full-width: 5rem;
// Variable que añade padding vertical a containers de ancho completo
$vertical-space-full-height-container: 2rem; // TODO: Buscar nombre adecuado
